@page "/"

@using BlogPlatform.UI.Models

@inject IPostPageService _postPageService
@inject IFileService _fileService

@inject IStringLocalizer<Index> _locale

<NavMenu />

<main class="content">
    <div class="container-fluid">
        @if (recommendedPosts is not null)
        {
            <div class="row pa-5">
                <div class="col-lg-3" />
                <div class="col-sm">
                    @foreach (Models.Post post in recommendedPosts)
                    {
                        <NavLink href="@($"post/{post.TitleIdentifier}")" class="text-decoration-none">
                            <MudPaper Class="post-preview row align-items-center mb-5 pa-5" Outlined="true" Elevation="2">
                                <div class="col">
                                    <p class="post-meta">
                                        @post.Author
                                    </p>
                                    <h2 class="post-title my-2">
                                        @post.Title
                                    </h2>
                                    <p class="post-meta">
                                        @post.RelativePublishTime
                                    </p>
                                </div>
                                <div class="col-sm-1" />
                                <div class="col-sm-4 align-content-center">
                                    <img class="img-fluid" src="@_fileService.GetImageUrl(post.ThumbnailPath)" alt="">
                                </div>
                            </MudPaper>
                        </NavLink>
                    }
                </div>
                <div class="col-lg-3" />
            </div>
        }
    </div>
</main>

<Footer />

@code {
    List<Models.Post> recommendedPosts;

    protected override async Task OnInitializedAsync()
    {
        recommendedPosts = await _postPageService.GetRecommendedPosts();
    }
}